PROJECT_NAME="Oldy Buddy API"
API_V1_STR="/api/v1"
SECRET_KEY="supersecretkey"
ACCESS_TOKEN_EXPIRE_MINUTES=11520
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/oldybuddy"
REDIS_URL="redis://localhost:6379/0"
